<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Play Crypo Verification Email</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<div style="padding:0;margin:0 auto;width:100%!important;font-family:Helvetica Neue,Helvetica,Arial,sans-serif">
 <div style="overflow:hidden;color:transparent;width:0;font-size:0;opacity:0;height:0">
 &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>
 	&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>
	&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>
	&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>
	&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>
	&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>
	&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>
	&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>
	&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>
	&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;<wbr>
&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp; </div>
 <table role="presentation" align="center" border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#F4F5F6" style="background-color:#F4F5F6;table-layout:fixed">
 <tbody>
 <tr>
 <td align="center" style="padding-top:24px">
 <center style="width:100%">


 <table role="presentation" border="0" class="m_6388537423740644831mercado-email-container" cellspacing="0" cellpadding="0" width="512" 
 bgcolor="#FFFFFF" style="margin:0 auto;max-width:512px;width:inherit">
 <tbody>




 <tr>
 <td bgcolor="#F4F5F6" style="padding:18px 24px 24px 24px;background:#F4F5F6 ">
 <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%!important;min-width:100%!important">
 <tbody>
 <tr>
 <td align="left" valign="middle">
 	<a href="https://sandbox.play-crypto.com/login">
 <img alt="LinkedIn" border="0" src="https://play-crypto-dev.s3.amazonaws.com/assets/images/mail-logo.png" height="58" style="max-height:58px;outline:none;color:#ffffff;max-width:unset!important;text-decoration:none" class="CToWUd">
</a>
</td>
 
 </tr>
 </tbody>
 </table>
</td>
 </tr>
 <tr>
 <td>
 <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
 <tbody>
 <tr>
 <td>
 <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
 <tbody>
 <tr>
 <td>
 <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
 <tbody>
 <tr>
 <td style="padding:58px 24px 14px">
 <h2 style="margin:0;color:#000000;font-weight:400;font-size:24px;line-height:1.333">
	 	<a  href="https://sandbox.play-crypto.com/login" style="color:#242424;display:inline;text-decoration:none" target="_blank" data-saferedirecturl="https://sandbox.play-crypto.com/login">
	<span style="margin:0;color:#1B1922;font-weight:500;font-size:24px;font-family: 'Heebo', sans-serif;line-height:1.333" th:text="${'Welcome ' + username +' !.'}"></span>
</a>

</h2>
</td>
 </tr>
 </tbody>
 </table>
</td>
 </tr>
 <tr>
 <td>
 <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
 <tbody>
 <tr>
 <td style="padding:0 24px 16px">
	 <p style="margin:0;color:#1B1922;font-weight:400;font-size:16px;font-family: 'Heebo', sans-serif;line-height:1.5">
	 We're as excited as you are!</p>
	 <p style="margin:0;color:#1B1922;font-weight:400;font-size:16px;font-family: 'Heebo', sans-serif;line-height:1.5">
	 You are just few mins away from making money.</p> 
	 <p style="margin:0;color:#1B1922;font-weight:400;font-size:16px;font-family: 'Heebo', sans-serif;line-height:1.5">
	 Let's get started by confirming your email address.</p>
</td>
 </tr>
 </tbody>
 </table>
</td>
 </tr>

 <tr>
 <td>
 <table cellspacing="0" cellpadding="0" style="padding:10px 24px">
 <tbody valign="top" style="table-layout:fixed;vertical-align:top;width:100%">
 
 </tbody>
 </table>
</td>
 </tr>
 <tr>
 <td>
 <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
 <tbody>
 <tr>
 <td style="padding:0px 24px 24px">
 <table border="0" cellpadding="0" cellspacing="0" role="presentation" align="left" style="display:inline-block">
 <tbody>
 <tr>
 <td align="center" valign="middle" style="font-size:16px">
 	<a th:href="${message}"
 	 style="word-wrap:normal;color:#0a66c2;word-break:normal;white-space:normal;display:block;text-decoration:none;text-align:center" target="_blank" >
 <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
 <tbody>
 <tr>
	 <td bgcolor="#0A66C2" style="padding:12px 24px;color:#ffffff;font-weight:400;display:inline-block;text-decoration:none;font-size:16px;line-height:1.25em;border-color:#F83943;background-color:#F83943;border-radius:5px;border-width:1px;border-style:solid;width: 306px">
	 	<a th:href="${message}"
	 	 style="word-wrap:normal;color:#ffffff;word-break:normal;white-space:normal;display:block;text-decoration:none;text-align:center" target="_blank">
	<span style="font-size: 14px;;font-weight:500;color:#ffffff;font-family: 'Heebo', sans-serif;" th:href="${message}">Verify my email address </span></a>
</td>
 </tr>
 </tbody>
 </table>
</a>
</td>
 </tr>
 <tr>
 <td height="3">
 <table width="1" border="0" cellspacing="0" cellpadding="1">
 <tbody>
 <tr>
 <td>
 <div style="height:1px;font-size:1px;line-height:1px">
 &nbsp; </div>
</td>
 </tr>
 </tbody>
 </table>
</td>
 </tr>
 </tbody>
 </table>
</td>
 </tr>
 </tbody>
 </table>
</td>
 </tr>

  <tr>
 <td>
 <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
 <tbody>
 <tr>
 <td style="padding:0 24px 56px">
	<p style="margin:0;color:#000000;font-weight:400;font-size:16px;font-family: 'Heebo', sans-serif;line-height:1.5">
	 If that doesn't work, copy and paste the following link in your browser:</p>
	  <p style="margin:0;font-weight:400;font-size:16px;font-family: 'Heebo', sans-serif;line-height:1.5">
	 <u><a  style="color:#F83943;font-weight:400;font-size:16px;font-family: 'Heebo', sans-serif;" th:href="${message}">  </a> </u></p>
	    <p style="color:#F83943!important;font-weight:400;font-size:16px;font-family: 'Heebo', sans-serif;" th:text="${message}"></p>
</td>
 </tr>
 </tbody>
 </table>
</td>
 </tr>

  <tr>
 <td>
 <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
 <tbody>
 <tr>
 <td style="padding:0 24px 16px">
		  <p style="margin:0;color:#1B1922;font-weight:400;font-size:16px;font-family: 'Heebo', sans-serif;line-height:1.5">
 Thanks, </p>
<p style="margin:0;color:#1B1922;font-weight:400;font-size:16px;font-family: 'Heebo', sans-serif;line-height:1.5">Team PlayCrypto.</p>
</td>
 </tr>
 </tbody>
 </table>
</td>
 </tr>

 </tbody>
 </table>
</td>
 </tr>
 </tbody>
 </table>
</td>
 </tr>

 <tr>
 <td bgcolor="#F4F5F6" style="padding:18px 24px 24px 24px;background:#F4F5F6 ">
 <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%!important;min-width:100%!important">
 <tbody>
 <tr>
 <td align="left" valign="middle">
 	 <p style="margin:0;word-wrap:break-word;color:#8B919E;word-break:break-word;font-weight:400;font-size:12px;font-family: 'Heebo', sans-serif;line-height:1.333">
	 	© 2021 PlayCrypto. All Rights Reserved. 
</p>
</td>
 
 </tr>
 </tbody>
 </table>
</td>
 </tr>



 


 </tbody>
 </table>
 </center>
</td>
 </tr>
 </tbody>
 </table>
 <img alt="" role="presentation" src="https://ci4.googleusercontent.com/proxy/43sIidsWUH7JR9o19RhwHgd8zWCc6Pd8K6T0XmIPFbP4Gx0yJVpqq9o82Dr3tI35ApMqit5jivI4BLNy7gJoX8XLTuQfLCkSE0ZpH2bcjQmvo6rnyMV9gsWQD86aYb1fApkePCMFBKbCuXHToRaFaLSWD6ml_jHvcqtDCkNTx6nFTLRAsbLxfSy6FpN1=s0-d-e1-ft#https://www.linkedin.com/emimp/ip_WTJWNWJ6QndMV3Q2Wlcxd2FIaHVMWEl3OlpXMWhhV3hmYW05aVgyRnNaWEowWDJScFoyVnpkRjh3TVE9PTo=.gif" style="outline:none;color:#ffffff;text-decoration:none;width:1px;height:1px" class="CToWUd">
 <div class="yj6qo">
</div>
<div class="adL">
 </div>
</div>




</body>
</html>